.align-center {
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}
.extra-charges {
  margin: 0;
  font-size: 13px;
  font-weight: 300;
  color: #7e808c;
  margin-top: 2px;
}
.add-cart li {
  cursor: pointer;
}
.add-cart,
.add-cart1 {
  cursor: pointer;
  height: 30px;
  width: 75px;
  margin: 0;
  display: flex;
  border: 1px solid #aaa;
  padding: 0;
  align-items: center;
}
.add-cart1 {
  width: 100%;
  height: 35px;
  border: none;
}
.cart > div > div > h3 {
  line-height: 18px;
}
.cart-items > div > h3 {
  min-width: 130px;
  max-width: 130px;
}
.add-cart li,
.add-cart1 li {
  margin: 0;
  text-align: center;
  flex-grow: 1;
  list-style: none;
}
.add-cart li button,
.add-cart1 li button {
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.fa-green {
  color: var(--font-green);
}
.add-cart li:nth-child(2),
.add-cart1 li:nth-child(2) {
  font-size: 0.85rem;
}
.add-cart li:nth-child(odd),
.add-cart1 li:nth-child(odd) {
  font-weight: 900;
}
.total-cost {
  display: flex;
  width: 100%;
  align-items: baseline;
}
.total-cost p {
  text-align: end;
  min-width: 70px;
}
.total-cost h3 {
  margin-bottom: 3px;
  flex-grow: 1;
}
.checkout-btn {
  margin-top: 30px;
  color: #fff;
  width: 100%;
  padding-block: 20px;
  font-weight: bold;
  background-color: var(--font-green);
  cursor: pointer;
}
.s-underline {
  display: inline-block;
  height: 2px;
  width: 30px;
  background-color: #3d4152;
  margin-bottom: 30px;
}


.align-center h3 {
  max-width: 130px;
  font-size: 0.9rem;
  margin-block: 20px 30px !important;
  margin: 0;
}
.amount {
  font-size: 13px;
  color: #535665;
  min-width: 40px;
}
